@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 26.4 60.8% 81%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 26.4 60.8% 81%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  background-color: black;
}

.bg-gold {
  background-color: #eccbb1;
}

.neon-bar {
  width: 6px; /* Largeur de la barre */
  height: 90%; /* Hauteur de la barre */
  background: linear-gradient(
    to top,
    #002fff,
    #ff00a2,
    #ffbf00
  ); /* Gradient de couleur */
  border-radius: 10px; /* Arrondir les bords */
  box-shadow: 0 0 8px rgba(0, 47, 255, 0.8),
    /* Bleu */ 0 0 20px rgba(255, 0, 157, 0.8),
    /* Violet */ 0 0 30px rgba(255, 0, 166, 0.8),
    /* Violet */ 0 0 40px rgba(255, 174, 0, 0.8),
    /* Rose */ 0 0 50px rgba(255, 179, 0, 0.8); /* Rose */
  animation: neon-animation 2s ease-in-out infinite alternate;
}

.max-width {
  max-width: 1800px;
}

/* Animation */

.slide-in-right {
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
  }
  100% {
    transform: translateX(0);
  }
}

.slide-out-right {
  animation: slide-out-right 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@keyframes slide-out-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(2000px);
  }
}
