@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.neon-bar {
  width: 7px; /* Largeur de la barre */
  height: 90%; /* Hauteur de la barre */
  background: linear-gradient(to top,#002fff, #bb00ff,#ff0d00,  #ffd000); /* Gradient de couleur avec des tons chauds */
  border-radius: 10px; /* Arrondir les bords */
  box-shadow: 
  0 0 30px rgba(0, 47, 255, 0.8), /* Bleu */
  0 0 30px rgba(187, 0, 255, 0.8), /* Violet */
  0 0 50px rgba(255, 72, 0, 0.8), /* Rose */
  0 0 50px rgba(255, 234, 0, 0.8); /* Rose */
  animation: neon-animation 2s ease-in-out infinite alternate;
}


